.headbar {
    display: flex;
    align-items: center;
    position: sticky;
    height: 64px;
    min-height: 45px;
    background-color: #1b6535;
    justify-content: space-between;
    padding: 15px 25px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 5px;

}

.logo-idf {
    width: 64px;
}

.slogen-idf {
    font-family: "Courier New", Courier, monospace;
    color: white;
}

