.ReportsLinks {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 10%;
    align-items: center;
    left: 25%;
}

.btnReport {
    background-color: var(--color-dark);
    color: var(--color-bright);
    padding: 8px 12px;
    border: 1px solid #888;
    border-radius: 5px;
    cursor: pointer;
}